{% extends "layout.html" %}

{% block title %}
Create New Account
{% endblock %}

{% block body %}
<h1>Register to Review Website</h1>
<form action="{{ url_for('register')}}" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="username" placeholder="User Name" required>
    <input type="password" name="password" id="password" placeholder="password" required>
    <button type="submit">Sign Up</button>
</form>
{% if message is defined %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endif %}


{% endblock %}