{% extends "layout.html" %}

{% block title %}
Book | {{ book[2] }}
{% endblock %}

{% block body %}
<h1>{{ book[2] }}</h1>
<h3>From Good Reads</h3>
{{ gr_ratings_count }}<br />{{ gr_average_rating }}
{% with flashmessages = get_flashed_messages() %}
{% if flashmessages %}
{% for flashmessage in flashmessages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{ flashmessage }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith%}
{% if rating_average %}
  {% for rating in rating_average %}
    <li>{{ rating[0] }} Star Average Rating</li>
  {% endfor %}
{% endif %}
<form action="{{ url_for('review') }}" method="POST">
  <input type="text" name="review" id="" placeholder="Write a review" required>
  <select name="rating" id="">
    <option value="1">1 star</option>
    <option value="2">2 stars</option>
    <option value="3">3 stars</option>
    <option value="4">4 stars</option>
    <option value="5">5 stars</option>
  </select>
  <input type="hidden" name="book_id" value="{{ book[0] }}">
  <input type="hidden" name="user_id" value="{{ user_id[0] }}">
  <button type="submit">Submit review</button>
</form>

<ul>
  {% for review in reviews %}
  {% if book[0] == review[4] %}
  <li>{{ review[7] }}:{{ review[1] }} rating:{{ review[2]}}</li>
  {% endif %}
  {% endfor %}

</ul>

{% endblock %}