{% extends "layout.html" %}

{% block title %}
Flights
{% endblock %}

{% block body %}
<form action="{{ url_for('logout') }}" method="GET">
  <button type="submit">log out</button>
</form>
<!-- {% for user in username or [] %}
<h1>welcome {{ user|e }} </h1>
{% endfor %} --> 
<h1>welcome {{ username }} </h1>

<form action="{{url_for('index')}}" method="POST">
<input type="input" name="search" id="" placeholder="search books">
<button type="submit">Search</button>
</form>

<ul>
{% for result in results %}
<li> {{ result[1] }} {{ result[2] }} {{ result[3] }} {{ result[4] }}</li>

{% endfor %}
{{error}}
</ul>

{% endblock %}

<!-- {
    "books": [
      {
        "average_rating": "4.07", 
        "id": 29207858, 
        "isbn": "1632168146", 
        "isbn13": "9781632168146", 
        "ratings_count": 0, 
        "reviews_count": 2, 
        "text_reviews_count": 0, 
        "work_ratings_count": 28, 
        "work_reviews_count": 124, 
        "work_text_reviews_count": 10
      }
    ]
  } -->