{% extends "layout.html" %}

{% block title %}
Flights
{% endblock %}

{% block body %}
<form action="{{ url_for('logout') }}" method="GET">
  <button type="submit">log out</button>
</form>
<!-- {% for user in username or [] %}
<h1>welcome {{ user|e }} </h1>
{% endfor %} --> 
<h1>welcome {{ username }} </h1>

<form action="{{url_for('index')}}" method="POST">
<input type="input" name="search" id="" placeholder="search books" required>
<button type="submit">Search</button>
</form>

<ul>
{% for book in results %}
<a href="{{ url_for('book', id=book[0]) }}">
<li> {{ book[1] }} {{ book[2] }} {{ book[3] }} {{ book[4] }}</li>
</a>
{% endfor %} 
</ul>
{% if error is defined %}
<div class="alert alert-danger" role="alert">
{{ error }}
</div>
{% endif %}



{% endblock %}

<!-- {
    "books": [
      {
        "average_rating": "4.07", 
        "id": 29207858, 
        "isbn": "1632168146", 
        "isbn13": "9781632168146", 
        "ratings_count": 0, 
        "reviews_count": 2, 
        "text_reviews_count": 0, 
        "work_ratings_count": 28, 
        "work_reviews_count": 124, 
        "work_text_reviews_count": 10
      }
    ]
  } -->